*.vscode
*.pyc
bruce_slam/src/bruce_slam/__pycache__/
bruce_slam/utils/__pycache__/
# Fichiers lourds spécifiques à ROS, Python et SLAM
devel/
install/
__pycache__/
*.bag
*.pcd
.ros/
*.bag
DISO/Thirdparty/
usbl_sim.png
# Images SLAM/CFAR (lourdes, régénérables)
*.png
*.jpg
*.jpeg
